body {
    margin: 0;
}

/* nav */

.navbar {
    background-color: #001f3f;
    padding: 0px 50px;
}

.navbar-button {
    background-color:transparent;
    color: white;
    font-size: 110%;
    padding: 20px 30px;
    border: none;
}

.navbar-button:hover {
    background-color: #AAAAAA;
    cursor: pointer;
}


/* CSV Reader */

.main-container{
    width: 100%;
    min-height: 100vh;
}

.inner-container {
    width: 90%;
    margin: auto;
    min-height: 100vh;
}

.title{
    text-align: center;
    padding: 40px 0 0 0;
}

.csv-table{
    border-collapse : collapse;
    background-color: white;
    table-layout: auto !important;
    width: 100%;
    max-width: 100%;
}

.csv-table td{
    padding: 10px;
    border: black solid 2px;
}

.csv-table th td{
    text-align: center;
}

.table-container{
    overflow: auto;
    width: 100%;
    max-height: 100vh;
    margin-top: 25px;
}

.csv-container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.csv-table th, .csv-table td, .csv-table thead th, .csv-table tbody td, .csv-table tfoot td, .csv-table tfoot th {
    width: auto !important;
}


.file-input{
    margin: auto;
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.file-input:hover {
    cursor: wait;
}

.first-row{
    background-color: #103c52;
    font-weight: bold;
    color: white;
}

.odd-row{
    background-color: white;
}

.pair-row{
    background-color: azure;
}

/* request users page */

#request-users-component {
    text-align: center;
    border-bottom: 1px solid;
}

.range_button {
    display: block;
    margin: 0 auto;
}

.person-block {
    border-top: 1px solid black;
}

.search-btn {
    margin: 20px 0px 20px 0px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search-btn:hover {
    cursor: wait;
}

.request-users-img {
    margin-bottom: 20px;
}

/* moviedb page */

#moviedb-component {
    text-align: center;
}

#moviedb-input {
    padding: 15px 32px;
    margin-right: 8px;
}

#movie-component {
    border-top: 1px black solid;
}

.movie-poster {
    margin-top: 20px;
}

/* jokes page */

#jokeComponent {
    text-align: center;
}

.joke-search-btn {
    /* margin: 5px 0px 5px 0px; */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto;
}

.joke-search-btn:hover {
    cursor: wait;
}
